# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Exec=kde-nomodeset
Icon=video-card-inactive
Type=Application
NoDisplay=true
Categories=Qt;KDE;System;

Name=Safe Graphics Mode
Name[ca]=Mode de gràfics segurs
Name[ca@valencia]=Mode de gràfics segurs
Name[cs]=Bezpečný grafický režim
Name[de]=Sicherer Grafikmodus
Name[el]=Ασφαλής λειτουργία γραφικών
Name[en_GB]=Safe Graphics Mode
Name[eo]=Sekura Grafikreĝimo
Name[es]=Modo gráfico seguro
Name[eu]=Modu grafiko segurua
Name[fi]=Turvallinen näyttötila
Name[fr]=Mode graphique de sécurité
Name[gl]=Modo gráfico seguro
Name[hi]=सुरक्षित ग्राफ़िक्स मोड
Name[it]=Modalità grafica sicura
Name[ka]=უსაფრთხო გრაფიკის რეჟიმი
Name[ko]=안전 그래픽 모드
Name[nl]=Veilige grafische modus
Name[nn]=Sikker grafikkmodus
Name[pl]=Bezpieczny tryb graficzny
Name[pt]=Modo Gráfico Seguro
Name[pt_BR]=Modo gráfico de segurança
Name[ro]=Regim de afișare grafică redusă
Name[ru]=Безопасный графический режим
Name[sk]=Bezpečný grafický režim
Name[sl]=Varni grafični način
Name[sv]=Säkert grafikläge
Name[tr]=Güvenli Grafik Kipi
Name[uk]=Безпечний графічний режим
Name[x-test]=xxSafe Graphics Modexx
Name[zh_CN]=安全图形模式
Name[zh_TW]=安全圖形模式
