# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2021 Harald Sitter <sitter@kde.org>
[Desktop Entry]
Exec=kde-nomodeset
Icon=video-card-inactive
Type=Application
NoDisplay=true
Categories=Qt;KDE;System;

Name=Safe Graphics Mode
Name[ca]=Mode de gràfics segurs
Name[ca@valencia]=Mode de gràfics segurs
Name[es]=Modo gráfico seguro
Name[nl]=Veilige grafische modus
Name[sl]=Varni grafični način
Name[sv]=Säkert grafikläge
Name[uk]=Безпечний графічний режим
Name[x-test]=xxSafe Graphics Modexx
